<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user.email %>
</p>

<p>
  <h3></h3>
  <%= form_for([@product, Comment.new]) do |form|%>
    <%= form.text_area :body%>
    <%= form.submit%>
  <%end%>
</p>
<p>
 <h3>コメント一覧</h3>
 <% @product.comments.each do |comment|%>
  <%= comment.body%>
  <br>
 <%end%>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
